body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #5d7079;
    background-color: #fff;
}

#map {
    border-top: 1px solid #ddd;
    width: 1000px;
    height: 800px;
}

hr.style13 {
    height: 0;
    border: 0;
    box-shadow: 0 15px 15px -10px #8c8b8b inset;
}

.form-group {
    margin-bottom: 0px !important;
}

.modal-backdrop.show {
    opacity: 0 !important;
    z-index: -999;
}

/** Marker design **/
.marker-amber-wrapper {
    visibility: visible;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFC107;
}

.marker-amber-wrapper .marker-amber {
    -webkit-animation: dilation 1s infinite, fade-out 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: dilation 1.2s infinite, fade-out 1.2s infinite;
    border: 1px solid #FFC107;
    position: relative;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(255, 193, 7, 0.6);
    z-index: -1;
}

.marker-lime-wrapper {
    visibility: visible;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CDDC39;
}

.marker-lime-wrapper .marker-lime {
    -webkit-animation: dilation 1s infinite, fade-out 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: dilation 1.2s infinite, fade-out 1.2s infinite;
    border: 1px solid #CDDC39;
    position: relative;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(205, 220, 57, 0.6);
    z-index: -1;
}

.marker-pink-wrapper {
    visibility: visible;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E91E63;
}

.marker-pink-wrapper .marker-pink {
    -webkit-animation: dilation 1s infinite, fade-out 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: dilation 1.2s infinite, fade-out 1.2s infinite;
    border: 1px solid #E91E63;
    position: relative;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(233, 30, 99, 0.6);
    z-index: -1;
}

.marker-blue-wrapper {
    visibility: visible;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #03A9F4;
}

.marker-blue-wrapper .marker-blue {
    -webkit-animation: dilation 1s infinite, fade-out 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: dilation 1.2s infinite, fade-out 1.2s infinite;
    border: 1px solid #03A9F4;
    position: relative;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(3, 169, 244, 0.6);
    z-index: -1;
}

/** Custom marker design end **/

.marker-default-wrapper {
    visibility: visible;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5cc6fe;
}

.marker-default-wrapper .marker-default {
    -webkit-animation: dilation 1s infinite, fade-out 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: dilation 1.2s infinite, fade-out 1.2s infinite;
    border: 1px solid #5cc6fe;
    position: relative;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(92, 198, 254, 0.6);
    z-index: -1;
}

/* ANIMATIONS */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes dilation {
    from {
        padding: 0;
    }
    to {
        padding: 30px;
    }
}

/* Standard syntax */
@keyframes dilation {
    from {
        padding: 0;
    }
    to {
        padding: 60px;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Standard syntax */
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(242, 245, 247);
    height: 50px;
    border-top: 1px solid #ddd;
    padding: 13px 20px 13px 20px;
}

#footer .brand-logo {
    margin-left: 8px;
    margin-top: -4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.mapboxgl-ctrl-bottom-right {
    display: none !important;
}

.mapboxgl-ctrl-bottom-left {
    display: none !important;
}

.metric-group-container {
    height: 75px;
    transition: all 0.25s ease-in-out;
    background-color: white;
    padding: 24px 16px;
}

.row .metric-group-container:first-of-type {
    padding-left: 29px !important;
}

.metric-group-container:hover {
    height: 225px;
    margin-bottom: -150px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 999;
}

.metric-group-container .hover-here-icon {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.metric-group-container i {
    margin-right: 16px;
    font-size: 24px;
}

.metric-group-container:hover .hover-here-icon {
    opacity: 0;
}

.metric-group-container:hover .metric-alt {
    opacity: 0;
}

.metric-group-container:hover .metric-title {
    opacity: 0;
}

.metric-group-container .metric-title {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    font-weight: 700;
    margin-top: -6px;
    position: absolute;
    font-size: 17px;
}

.metric-group-container .metric-alt {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    margin-top: 12px;
    position: absolute;
    font-size: 15px;
}

.metric-group-container .metric-caption {
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.metric-group-container:hover .metric-caption {
    opacity: 1;
}

.metric-group-container .metric-base-icon {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.metric-group-container:hover .metric-base-icon {
    opacity: 0;
}

i.fa {
    color: #777;
}
